@model IEnumerable<SNPData.Answer>

@{String[] url  = Request.Url.Segments;}
@{Int32 newID = 0;}
@{newID = int.Parse(url[url.Length - 1]);}
    
@{
if((Model.ToList().Count == 0))
{
<p>
    @Html.ActionLink("Answer!", "CreateTest", new { id = newID })
</p>
}
else
{
    if (!(Model.Any(((model => model.CreatedByID.Equals(User.Identity.Name)))))){
        <p>
             @Html.ActionLink("Answer!", "CreateTest", new { id = Model.Last().QuestionAnsID })
        </p>
    }
}
    
}

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        @if(User.IsInRole("Admin")){
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Like)
        </th>
        }
        <th></th>
    </tr>

    @{
        String act = "class=\"success\"";
    }

@foreach (var item in Model)
{
    if (item.IsActive == true)
    {

        <tr @if (item.Like == true) { @Html.Raw(act) }>

            <td>
                @Html.DisplayFor(modelItem => item.Question.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Like)
                </td>
            }
            <td>
                @if (User.Identity.Name.Equals(item.CreatedByID) || User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "EditTest", new { id = item.AnswerID })
                }

                @if (User.IsInRole("Admin") || User.Identity.Name.Equals(item.CreatedByID))
                {
                    @Html.ActionLink("Delete", "DeleteTest", new { id = item.AnswerID })
                }
            </td>


        </tr>

    }
}
    

</table>







